.git
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.egg-info
.pytest_cache
.venv
env/
venv/
.DS_Store
Dockerfile
docker-compose.yml
models/
assets/
!assets/bpe_simple_vocab_16e6.txt.gz
examples/
scripts/
*.ipynb
